<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SingWebViewApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE87CC86233A0333008ADD63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE87CCA1233A0335008ADD63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE87CCAC233A0335008ADD63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
